.inner {
  /* 第一个参数用来使用匹配模式 */
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 40px;
  border-style: dashed  dashed dashed solid;
  border-color: transparent transparent transparent pink;
}
